# shellcheck shell=bash

# Local development environment variables
export KAFKA_BOOTSTRAP_SERVERS="localhost:9092"
export KAFKA_GROUP_ID="launchpad-devservices"
export KAFKA_TOPICS="preprod-artifact-events"
export LAUNCHPAD_CREATE_KAFKA_TOPIC="1"
export LAUNCHPAD_ENV="development"
export LAUNCHPAD_HOST="0.0.0.0"
export LAUNCHPAD_PORT="2218"
export LAUNCHPAD_RPC_SHARED_SECRET="launchpad-also-very-long-value-haha"
# STATSD_HOST=... # defaults to 127.0.0.1
# STATSD_PORT=... # defaults to 8125

# Above variables can be overridden with a local .env file
# See https://github.com/motdotla/dotenv?tab=readme-ov-file#%EF%B8%8F-usage
if [[ -f "${PWD}/.env" ]]; then
  dotenv
fi

# Prefer the project-local devenv executable if it exists
if [[ -f .venv/bin/devenv ]]; then
  DEVENV=.venv/bin/devenv
else
  DEVENV=devenv
fi

# Add Sentry devenv installation to PATH (defaults to ~/.local/share/sentry-devenv)
export SENTRY_DEVENV_HOME="${SENTRY_DEVENV_HOME:-${XDG_DATA_HOME:-$HOME/.local/share}/sentry-devenv}"
PATH_add "${SENTRY_DEVENV_HOME}/bin"

# Verify that the devenv tool is available
if ! command -v "$DEVENV" >/dev/null; then
  echo "Please install the devenv tool:"
  echo "https://github.com/getsentry/devenv#install"
  return 1
fi

# activate
PATH_add "${PWD}/.devenv/bin"

if [ ! -d .venv ]; then
    devenv sync
fi

export VIRTUAL_ENV="${PWD}/.venv"
PATH_add "${PWD}/.venv/bin"
