# Python
*.pyc
__pycache__/
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
**/.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
.temporary/

ios-analysis-report.json
apple-app-analysis-report.json
android-analysis-report.json
*_treemap.json
*_treemap_cli.json
legacy/ios/sizeAnalysis/.build/

# devenv cached downloads
/.devenv

# In case the user is installing devenv for the first time:
install-devenv.sh

# Local environment variable overrides set by the user.
.env

