# Include main dependencies
-r requirements.txt

devservices>=1.2.1

# Development dependencies
bandit>=1.7.0
debugpy>=1.8.16
memray>=1.0.0
pip-audit>=2.6.0
pre-commit>=4.3.0
pytest-asyncio>=1.1.0
pytest-cov>=6.2.1
pytest-mock>=3.15.0
pytest-verbose-parametrize>=1.7.0
pytest-xdist>=3.8.0
pytest-benchmark>=5.1.0
pytest>=8.4.2
responses>=0.25.8
ruff==0.15.0
safety>=3.6.1
ty==0.0.1a20

# Testing web endpoints
sortedcontainers-stubs>=2.4.0
kafka-python>=2.0.0
sentry-protos>=0.4.11
